<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head"></head>

<body>

<header th:replace="fragments/fragment :: nav"></header>

<main class="p-5 align-content-center bg-blur">
    <div class="container">
        <h3 th:if="${successfullyDeleted}" th:text="|The category ${categoryName} has been deleted!!!|" class="form-text badge-warning rounded"></h3>
        <div class="row mb-2">
            <div th:each="f : ${allCategories}" th:object="${f}" class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250" id="all-categories">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 th:text="*{name}"  class="d-inline-block mb-2 text-primary">Name</h3>
                        <textarea th:text="*{description}" disabled rows="4" cols="30" id="text-all-categories" class="card-text mb-auto"></textarea>
                        <a th:text="|All *{name} products|" th:href="@{'/categories/allByCategory/{name}'(name = *{name})}"></a>
                        <h7 th:if="${unpaidProductInCategory} and ${categoryName} == *{name}" th:text="|Unpaid product in the category!!!|" class="form-text bg-danger rounded"></h7>
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="btn-group">
                            <a th:href="@{'/categories/delete/{name}'(name = *{name})}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                    <a th:href="@{'/categories/allByCategory/{name}'(name = *{name})}">
                    <img th:src="*{image}" class="card-img-right" alt="Thumbnail [200x250]" style="width: 200px; height: 200px;">
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>