<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head"></head>

<body>

<header th:replace="fragments/fragment :: nav"></header>

<main class="p-5 align-content-center bg-blur">
    <div class="container">
        <div th:each="f : ${allBrands}" th:object="${f}" id="all-brands" class="p-3 p-md-5 text-white rounded" >
            <div class="col-md-6 px-0">
                <h5 class="display-4 font-italic font-weight-bold" th:text="*{name}">Brand name</h5>
                <img  id="image-brand" th:src="*{image}">
                <p sec:authorize="hasRole('ROLE_ADMIN')" class="lead mb-0"><a th:href="@{'/brands/delete/{name}' (name = *{name})}" class="text-white font-weight-bold">Delete</a></p>
                <p class="lead mb-0"><a th:text="|All *{name}|" th:href="@{'/brands/allByBrand/{name}' (name = *{name})}" class="text-white font-weight-bold">All</a></p>
            </div>
        </div>
    </div>

</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>