<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head"></head>

<body>

<header th:replace="fragments/fragment :: nav"></header>

<main class="p-5 align-content-center bg-blur">
    <div class="container">

        <div class="row mb-2">
            <div th:each="f : ${allCourier}" th:object="${f}" class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250" id="all-courier">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 th:text="*{name}"  class="d-inline-block mb-2 text-primary">Name</h3>
                        <text th:text="|Rating: *{rating}|" rows="4" cols="30" class="card-text mb-auto">Rating</text>
                        <text th:text="|Shipping amount: *{shippingAmount}|" rows="4" cols="30" class="card-text mb-auto">Amount</text>
                        <div sec:authorize="hasRole('ROLE_ADMIN')" class="btn-group">
                            <a th:href="@{'/couriers/delete/{name}'(name = *{name})}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                    <img th:src="*{imageUrl}" class="card-img-right"
                         src="/" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" id="image-courier">
                </div>
            </div>
        </div>
    </div>

</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>