<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head"></head>

<body>

<header th:replace="fragments/fragment :: nav"></header>

<main class="p-5 align-content-center bg-blur">
        <hr class="border-bottom w-75">
        <div class="row mt-5" id="albumsList">
            <div  class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <img src="/img/cart.png"  class="card-img-top" alt="Thumbnail [100%x225]"
                         data-holder-rendered="true"
                         style="height: 225px; width: 100%; display: block;">
                    <div  class="card-body">
                        <div th:each="p : ${allOrders}" th:object="${p}" class="text-center">
                            <p th:text="|*{product} - *{totalPrice} - *{productCount} pieces|" class="card-text border-bottom ">
                            <div sec:authorize="hasRole('ROLE_ADMIN')" class="btn-group">
                                <a th:href="@{'/orders/delete/{id}'(id = *{id})}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>
                            </p>
                        </div>
                        <h3 th:text="|Total Price: ${getCartTotalPrice}|" class="d-inline-block mb-2 text-primary"></h3>
                        <form th:if="${#lists.size(allOrders)} > 0" th:action="@{/couriers/get}" th:method="POST" th:object="${courierGetBindingModel}">
                            <div class="form-row m-5">
                                <div class="col">
                                    <label for="courier">Select Courier</label>
                                    <select th:field="*{name}" th:errorclass="is-invalid" required size="1" name="courier" id="courier" class="custom-select">
                                        <option value="" selected>Select Courier</option>
                                        <option th:each="a : ${allCouriers}"  th:text="${a.name}" th:value="${a.name}"></option>
                                    </select>
                                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="courierError" class="invalid-feedback form-text bg-danger rounded">You must select courier</small>
                                </div>
                            </div>
                            <div sec:authorize="isAuthenticated()" class="btn-group">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Add Shipping Address</button>
                            </div>
                        </form>
                           <!-- <div sec:authorize="hasRole('ROLE_ADMIN')" class="btn-group">
                                <a th:href="@{'/products/delete/{name}'(name = *{name})}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- EO: Start single album -->
        </div>
    </div>

</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>