<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragment :: head"></head>

<body>

<header th:replace="fragments/fragment :: nav"></header>

<main class="p-5 align-content-center bg-blur">
        <hr class="border-bottom w-75">
        <div class="row mt-5" id="albumsList">
            <div  class="col-md-3">
                <div class="card mb-4 box-shadow">
                    <img src="/img/cart.png"  class="card-img-top" alt="Thumbnail [100%x225]"
                         data-holder-rendered="true"
                         style="height: 225px; width: 100%; display: block;">
                    <div  class="card-body">
                        <div th:each="o : ${allOrders}" th:object="${o}" class="text-center">
                            <a th:href="@{'/orders/delete/{id}'(id = *{id})}" class="delete-order"><img src="/img/delete.png" width="20px" alt="Delete picture"></a>
                            <p th:if="${#strings.length(o.product.name) <= 120}" th:text="${o.product.name}" class="card-text"></p>
                            <p th:if="${#strings.length(o.product.name) > 120}" th:text="|${#strings.substring(o.product.name,0,117)}...|" class="card-text"></p>
                            <p th:text="|*{productCount} pieces|" class="card-text"></p>
                            <p th:text="|Price: *{totalPrice}|" class="d-inline-block mb-2 text-primary border-bottom"></p>
                        </div>
                        <h3 th:text="|Total Price: ${getCartTotalPrice}|" class="d-inline-block mb-2 text-primary"></h3>
                        <form th:if="${#lists.size(allOrders)} > 0" th:action="@{/couriers/get}" th:method="POST" th:object="${courierGetBindingModel}">
                            <div>
                                <div class="col">
                                   <!-- <label for="courier">Select Courier</label> -->
                                    <select th:field="*{name}" th:errorclass="is-invalid" required size="1" name="courier" id="courier" class="custom-select">
                                        <option value="" selected>Select Courier</option>
                                        <option th:each="a : ${allCouriers}"  th:text="${a.name}" th:value="${a.name}"></option>
                                    </select>
                                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="courierError" class="invalid-feedback form-text bg-danger rounded">You must select courier</small>
                                </div>
                            </div>
                            <div sec:authorize="isAuthenticated()" class="btn-group" id="view-cart-address">
                                <button type="submit" class="btn btn-sm btn-outline-secondary text-white" id="view-cart-address-button">Add Shipping Address</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>